In [1]:
# !pip install pandas xlrd
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Get data

Data from [data.gov](https://catalog.data.gov/dataset/federal-student-loan-portfolio-2e077)

In [2]:
portfolio_df = pd.read_excel('https://data.ed.gov/dataset/fb615e1a-f95f-478d-bf7b-350fdf21133e/resource/e5531678-1689-4cab-a41e-2026c1dc70a9/download/dlportfolio-by-location.xls')
portfolio_df

,Direct Loan Portfolio by Borrower Location,Unnamed: 1,Unnamed: 2
0,Includes outstanding principal and interest ba...,NaN,NaN
1,Data Source: Enterprise Data Warehouse,NaN,NaN
2,"Data as of March 31, 2021",NaN,NaN
3,NaN,NaN,NaN
4,Location,Balance (in billions),Borrowers (in thousands)
5,Alabama,20.8,580.3
6,Alaska,2.1,62.2
7,Arizona,27.5,798
8,Arkansas,11.3,352.6
9,California,128.9,3543.5
10,Colorado,25.5,713.8
11,Connecticut,15.8,459.7
12,Delaware,4.2,117.3
13,District of Columbia,5.9,106.3
14,Florida,87.5,2355.6
15,Georgia,60.4,1515.6
16,Hawaii,4,111
17,Idaho,6.5,204.9
18,Illinois,55.8,1506
19,Indiana,26.4,839.3
20,Iowa,12.1,410.5
21,Kansas,11.2,355.6
22,Kentucky,17.3,549.6
23,Louisiana,19.3,582.7
24,Maine,5.6,173.5
25,Maryland,32.6,773.1
26,Massachusetts,28.3,839
27,Michigan,46,1309.1
28,Minnesota,23.9,737.2
29,Mississippi,14,400.7
30,Missouri,26,757.5
31,Montana,3.7,115.8
32,Nebraska,7.1,229.6
33,Nevada,10.3,309.9
34,New Hampshire,5.8,177
35,New Jersey,38.7,1107.7
36,New Mexico,6.8,205.9
37,New York,84.1,2257.7
38,North Carolina,43.7,1207.1
39,North Dakota,2.3,80.5
40,Ohio,55.5,1659.3
41,Oklahoma,13.2,429
42,Oregon,18.1,502.9
43,Pennsylvania,58.1,1678.4
44,Puerto Rico,8,289.2
45,Rhode Island,4.2,132.1
46,South Carolina,24.7,673.8
47,South Dakota,3.2,106.3
48,Tennessee,27.6,785
49,Texas,104.2,3257.9
50,Utah,8.9,284.4
51,Vermont,2.6,71.3
52,Virginia,38.4,1008.3
53,Washington,25.2,729.3
54,West Virginia,6.5,210.4
55,Wisconsin,20.8,679.3
56,Wyoming,1.5,49.3
57,Other,3.8,87.3
58,Not Reported,0.4,14.9

**Change column name**

In [3]:
# Assign the values on index 4 as columns of the data frame
portfolio_df.columns = portfolio_df.iloc[4].values

**Remove noizy rows**

In [5]:
# Select only rows from 5 to 45
portfolio_df = portfolio_df.iloc[5:].reset_index(drop=True)

In [7]:
portfolio_df.head()

     Location Balance (in billions) Borrowers (in thousands)
0     Alabama                  20.8                    580.3
1      Alaska                   2.1                     62.2
2     Arizona                  27.5                      798
3    Arkansas                  11.3                    352.6
4  California                 128.9                   3543.5

In [8]:
# Write the final cleaned data to csv
portfolio_df.to_csv("data/federal_student_aid_portfolio_by_location.csv", mode="w")